# General
SECRET_KEY="I jumped A ##4litele But the fell^$^ddf&% and gave me a $%^&*"
DEBUG="True"
ALLOWED_HOSTS="localhost,127.0.0.1"

# Database
MYSQL_ROOT_PASSWORD=""
MYSQL_DATABASE=""
MYSQL_USER=""
# MY_PASSWORD
MYSQL_HOST="localhost"
MYSQL_PORT="3306"


DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=psathaye@gmail.com
DJANGO_SUPERUSER_PASSWORD=adminadmin

CORS_ALLOWED_ORIGINS="http://localhost:3000,http://127.0.0.1:3000,http://localhost:8000,http://127.0.0.1:8000"
REDIS_URL=redis://localhost:6379/0

USE_SES="True"
AWS_SES_REGION_NAME="us-east-1"
DEFAULT_FROM_EMAIL=""
DEFAULT_FROM_NAME="Admin."

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-1
USE_S3=True

LOG_LEVEL="INFO"
USE_JSON_LOGS="false"

FRONTEND_URL="http://localhost:3000"
COMPANY_NAME="Dummy"
LOGO_URL=""
SUPPORT_EMAIL=""